<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Floreria Fiore</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script type="text/javascript" src="/fiore2.0/resources/js/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="/fiore2.0/resources/js/jquery.form.js"></script>
        <script type="text/javascript" src="/fiore2.0/resources/js/crud.js"></script>
        <script type="text/javascript" src="/fiore2.0/resources/js/animations.js"></script>

        <link type="text/css" rel="stylesheet" href="/fiore2.0/resources/css/default.css"/>
        <link type="text/css" rel="stylesheet" href="/fiore2.0/resources/css/cssLayout.css"/>
    </head>
    <body onkeydown="if(event.keyCode === 27){hide();};" onload="setInterval(function(){start();},7000);">
        <div id="navigation">
            <div id="navigation_items">
                <div id="logo"></div>
                <br/>
                <a href="/fiore2.0/">
                    Home
                </a>
                <a href="/fiore2.0/vistas/nosotros.php">
                    Quines Somos
                </a>
                <a href="/fiore2.0/vistas/galeria.php?tipo=planta">
                    Plantas
                </a>
                <a href="/fiore2.0/vistas/galeria.php?tipo=flor">
                    Flores
                </a>
                <a href="/fiore2.0/vistas/galeria.php?tipo=especial">
                    Especiales
                </a>
                <a href="#">
                    Contacto
                </a>
            </div>
        </div>
        <div id="content">


