body{
    margin: 0;
    border: 0;
    padding: 0;
    color: #9ca5ac;
    background-image: url("../images/back.jpg");
    background-repeat: repeat-x;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(243, 243, 243);
}

div{
    margin: 0;
    border: 0;
    padding: 0;
}

img{
    margin: 0;
    border: 0;
    padding: 0;
}

a{
    margin: 0;
    border: 0;
    padding: 0;
    color: #000000;
    text-decoration: none;
}

